<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Booking</title><!-- <script src="https://cdn.tailwindcss.com"></script> -->
    
    <link href="/output.css" rel="stylesheet">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <%- body -%>
    <%- block('script').toString() %>
</body>
</html>