<nav class="py-2 px-3 bg-slate-400 flex flex-row justify-between">
    <h1>spaceBooking</h1>
    <div class="flex gap-3">
        <% if(user){ %>
            <span>Reservas</span>
            <span>Perfil</span>
            <span><a href="/logout">Logout</a></span>
        <% } %>
        
    </div>
</nav>